@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dogDialogDiv {
  margin: 5px;
  padding: 5px;
  height: 450px;
  overflow: auto;
  text-align: justify;
}

.dogDialogDiv::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.createNewDialogDiv {
  margin: 5px;
  padding: 5px;
  height: 550px;
  overflow: auto;
  text-align: justify;
}

.createNewDialogDiv::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 5% 0 15px 0;
}

.pagination li {
  display: block;
}
